<footer id="page-footer" class="page-footer">
	<div class="page-footer-inner">
	    <div class="container">
	        <div id="course-footer">{{{ output.course_footer }}}</div>
	        
	        
	        {{{ output.standard_end_of_body_html }}}
	        
	        
	    </div>
	</div>
    
</footer>



