
{{#iphoneicon}}
<link rel="apple-touch-icon" href="{{{iphoneicon}}}">
{{/iphoneicon}}
{{#ipadicon}}
<link rel="apple-touch-icon" sizes="152x152" href="{{{ipadicon}}}">
{{/ipadicon}}
{{#iphoneretinaicon}}
<link rel="apple-touch-icon" sizes="180x180" href="{{{iphoneretinaicon}}}">
{{/iphoneretinaicon}}
{{#ipadretinaicon}}
<link rel="apple-touch-icon" sizes="167x167" href="{{{ipadretinaicon}}}">
{{/ipadretinaicon}}